<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.kafka.clients.consumer" level="INFO"/>
    <logger name="org.apache.kafka.clients.FetchSessionHandler" level="INFO"/>
    <logger name="org.apache.kafka" level="INFO"/>


    <!-- High level logging -->
    <logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="INFO"/>
    <!-- High level logging -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
